@import 'tailwindcss';

@theme {
  --font-rimac: 'Rimac-Display', 'sans-serif';
  --font-br-sonoma: 'BR-Sonoma', 'sans-serif';
  --color-rimac-red: #f7052d;
  --color-rimac-black: #03050f;
  --color-rimac-white: #ffffff;
  --color-rimac-grey: #05030f;
  --color-rimac-purple: #621fff;
}

.css-13cymwt-control {
  padding: 10px 15px 10px 15px;
}
.react-select__control {
  padding: 10px 15px 10px 15px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff00;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #03050f;
  border-radius: 10px;
  border: 2px solid #03050f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
